@using System.Security.Claims

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Byook</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Byook.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="mt-4">
        <nav class="navbar navbar-light">
            <div class="container">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <h3>비정육</h3>
                    </a>
                </div>
                <div class="loginBox">
                    <ul>
                        @{
                            if(User.Identity!.IsAuthenticated)
                            {
                                <li><button id="myPageIcon" class="myPageIcon" type="button"><img src="/images/ico_gnb_all_off.png" /></button></li>
                                //if(User.Claims.FirstOrDefault(d => d.Type.Equals(ClaimTypes.Role))!.Value.Equals("Seller"))
                                //{
                                //    <button type="button"><img src="/images/ico_gnb_all_off.png" class="myPageIcon" /></button>
                                //}
                                //else
                                //{
                                //    <button type="button"><img src="/images/ico_gnb_all_off.png" class="myPageIcon" /></button>
                                //}
                            }
                            else
                            {
                                <li><a style="margin-right: 7px;" asp-controller="Member" asp-action="ConsumerLogin">로그인</a></li>
                                <li><a asp-controller="Member" asp-action="SelectRegister">회원가입</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div style="width: 1024px; margin: 0 auto; position: relative;">
        <div class="myPageList" style="display: none; background-color: white;">
            <div>
                <a asp-controller="Product" asp-action="Index">상품 조회</a>
            </div>
            <div>
                <a asp-controller="Product" asp-action="Create">상품 등록</a>
            </div>
            <div>
                <a asp-controller="Order" asp-action="Index">주문 조회</a>
            </div>
            <div>
                <a asp-controller="Member" asp-action="Logout">로그아웃</a>
            </div>
        </div>
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("~/Common/Modal.cshtml")
    @*<footer class="border-top footer">
    <div class="">
    &copy; 2022 - Byook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
