@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Context.User.Claims.Any())
{
    <h3>@User.Identity!.Name</h3>
    <h3>@User.FindFirst(claim => claim.Type.Equals(ClaimTypes.UserData))!.Value</h3>
}

@foreach (var item in User.Claims)
{
    <h2>@item.Type</h2>
    <h2>@item.Value</h2>
    
}

@if (User.Identity!.IsAuthenticated)
{
    <h2>로그인 성공</h2>
}