@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/NotoSansKR-Light.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/NotoSansKR-Bold.otf);
}

* {
    font-family: "noto sans";
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #18c6ff;
}

header {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 60px;
    height: 100px;
}

a:hover {
    color: black;
}

.logo {
    display: inline-block;
}

.loginBox {
    display: inline-block;
}

#joinInfo input {
    width: 320px;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 120px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    background-color: #18c6ff;
    text-align: center;
}

.joinSelectButton {
    position: relative;
    width: 200px;
    height: 110px;
    color: white;
    background-color: #18c6ff;
    border-radius: 5px;
}

    .joinSelectButton * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
.btnRegister {
    position: relative;
    width: 320px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    border-radius: 5px;
    background-color: #18c6ff;
}

.btnRegister * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.joinBox {
    width: 1024px;
    margin: 0 auto;
}

.joinBox input[type=text],
input[type=password] {
    width: 320px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.joinBox .guide {
    display: block;
    padding: 12px 0 0px;
    font-size: 12px;
    color: #666;
    margin: 0px;
}

.case1.bad {
    color: #e52528;

}

.case2.bad {
    color: #e52528;
}

.case3.bad {
    color: #e52528;
}

.case1.good {
    color: #00891a;
}

.case2.good {
    color: #00891a;
}

.case3.good {
    color: #00891a;
}

.guide span {
    display: block;
}

table {
    margin: 0 auto;
    border-top: 2px solid #ccc;
}

table td {
    padding-top: 15px;
}

#modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) translateY(-50%);
}

.modalCloseButton {
    width: 19px;
    height: 19px;
    border: 0px;
    float: right;
    cursor: pointer;
}

.modalBottom {
    position: absolute;
    width: 340px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    bottom: 0px;
    border-top: 1px solid #ccc;
}