<div>
    <h3>회원가입 종류</h3>
    <div class="mt-5">
        <a class="userSelectButton me-2" asp-controller="Member" asp-action="ConsumerJoin">
            <h3 class="w-100">소비자</h3>
        </a>
        <a class="userSelectButton" asp-controller="Member" asp-action="SellerJoin">
            <h3 class="w-100">판매자</h3>
        </a>
    </div>
</div>