<div class="text-center">
    <h3>회원가입 종류</h3>
    <div class="mt-5">
        <a class="joinSelectButton me-2" asp-controller="Member" asp-action="ConsumerJoin">
            <h3 class="w-100">일반 회원가입</h3>
        </a>
        <a class="joinSelectButton" asp-controller="Member" asp-action="SellerJoin">
            <h3 class="w-100">사업자 회원가입</h3>
        </a>
    </div>
</div>