<div id="joinBox">
    <form method="post">
        <div id="joininfo">
            <div>
                <input type="text" placeholder="이메일" />
                <span></span>
            </div>
            <div>
                <input type="password" placeholder="비밀번호" />
                <p class="guide" style="display: none;">
                    <span class="case1">10자 이상 입력</span>
                    <span class="case2">영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</span>
                    <span class="case3">동일한 숫자 3개 이상 연속 사용 불가</span>
                </p>
            </div>
            <div>
                <input type="password" placeholder="비밀번호 확인" />
                <p class="guide" style="display: none;">
                    <span class="case1">동일한 비밀번호를 입력하세요 </span>
                </p>
            </div>
            <div>
                <input type="text" placeholder="이름" />
                <span></span>
            </div>
            <div>
                <input type="text" placeholder="사업자 등록번호" />
                <span></span>
            </div>
            <div>
                <input type="text" placeholder="휴대폰 번호" />
                <span></span>
            </div>
        </div>
        <div>
            <input class="btnJoin" type="submit" value="가입하기" />
        </div>
    </form>
</div>