<div id="modal">
    <div class="modal_body">
        <div>
            <span>알림메세지</span>
            <img class="modalCloseButton mt-1" src="~/images/icon-close-button.png" />
        </div>
        <div class="text-center mt-5">
            <span id="message"></span>
        </div>
        <div class="modalBottom">
            <button type="button" class="button">확인</button>
        </div>
    </div>
</div>

<script>
    const modal = $("#modal");

    modal.click(function(event) {
        if(event.target === modal) {
            closeModal();
        }
    });

    $(".modalCloseButton").click(function() {
        closeModal();
    });

    $("#modal .button").click(function() {
        closeModal();
    })

    function showModal(text) {
        modal.addClass("show");

        inputText(text);
    }

    function closeModal() {
        modal.removeClass("show");
    }

    function inputText(text) {
        $("#modal #message").text(text);
    }

</script>