<div class="text-center mt-100">
    <h3>회원가입 종류</h3>
    <div class="mt-5">
        <a type="button" class="joinSelectButton me-2" asp-controller="Member" asp-action="ConsumerRegister">
            <h5 class="w-100">일반 회원가입</h5>
        </a>
        <a type="button" class="joinSelectButton" asp-controller="Member" asp-action="SellerRegister">
            <h5 class="w-100">사업자 회원가입</h5>
        </a>
    </div>
</div>