@model Consumer

<div class="text-center mt-100">
    <h3 class=" pb-3 mb-0">마이페이지</h3>
    <div class="d-flex justify-content-evenly">
        <div>
            <a class="myPageBtn" asp-controller="" asp-action="">주문 조회</a>
        </div>
        <div>
            <a class="myPageBtn" asp-controller="Product" asp-action="Index">상품 조회</a>
        </div>
    </div>
</div>