@model Consumer

<div class="text-center mt-100">
    <h3 class=" pb-3 mb-0">마이페이지</h3>
    <div class="d-flex">
        <div class="myPageLeft">
            <div>
                <a asp-controller="" asp-action="">주문 조회</a>
            </div>
            
            <div>
                <a asp-controller="" asp-action="">상품 등록</a>
            </div>
        </div>
        <div class="myPageRight">
            테스트2
        </div>
    </div>
</div>